* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #e95959;
}

#root {
  width: 100%;
  height: 100vh;
}

::selection {
  background: var(--primary-color);
  color: #ffff;
}

#login-container {
  background-image: url(/static/images/p6.png);
  padding-top: 50px;
  height: 100vh;
}

#banner {
  background-image: url(/static/images/banner2.jpg);
  width: 100%;
  height: 52vh;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.emptyCart {
  background-image: url(/static/images/empty-cart.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.scrollHeader {
  background-color: #ffff;
  box-shadow: 0 3px 6px rgba(28, 28, 28, 0.1);
}
#logo {
  height: 50px;
}

.hide {
  display: none;
}

.foodItem:hover {
  opacity: 0.8;
  background-color: #f4eaea;
  scale: 101%;
  transition: all ease 0.3s;
}

.foodImg img:hover {
  scale: 105%;
  transition: all ease 0.3s;
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footerContent {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  #banner {
    display: none;
  }
  .findLocation {
    position: static !important;
    width: 100% !important;
    margin: -20px 20px 0px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  #banner {
    display: none;
  }
  .findLocation {
    position: static !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 576px) {
  .promoBtn {
    display: none !important;
  }
  .promoImg {
    /* height: 100px !important; */
  }
}

.swiper-pagination {
  top: 100% !important;

  .swiper-pagination-bullet-active {
    background-color: var(--primary-color);
  }
}
